.banner {
    background-color: #15151E;
    height: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.f1img {
    height: 35px;
    margin: 33px 50px;
    position: absolute;
}

    
.bannerContent {
    padding-top: 35px;
    padding-left: 25%;
    position: absolute;
}
    
.bannerlist>li {
    display: inline;
    padding: 0px 30px;    
}
    
.bannerlist>li>a {
    font-size: 23px;
}

.bannerlist>li>a:hover {
    border-bottom: red 2px solid;
}

.bannerButton {
    background-color: red;
    border-radius: 10px;
    border: 0px solid black;
    font-size: 17px;
    font-family: Formula1;
    color: white;
    height: 45px;
    width: 100px;
    margin-left: 10px;
}

.bannerButton:hover {
    cursor: pointer;
    transition: all 0.3s;
}

div[name="user"] { 
    position: absolute;
    display: flex;
    padding-top: 28px;
    margin-left: 80%;
}

div[name="f1img"]>a{
    position: absolute;
    display: block;
    height: 100px;
    width: 15%;
    z-index: 2;
}